.header{
    height: 90px;
    background-color: burlywood;
}



.header-logo{
    font-size: 32px;
    color: aliceblue;
    float: left;
    padding-top: 20px,10px;

}


li{
    color: aliceblue;
    list-style: none;
    float: left;
    padding: 20px;

}
